body
{
    background-color: rgba(41, 78, 101, 0.516);
}
h1{
    font-size: 100px;
    color: antiquewhite;
    background-color: rgba(0, 0, 0, 0.242);
}
h3{


    font-size: 50px;
    color: antiquewhite;
}
h2{
color: rgb(14, 14, 90);
}
